[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"
  environment = { SECRETS_SCAN_OMIT_PATHS = "README.md,src/hooks/useAuth.js,dist/**" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
